@import "~antd/dist/antd.less";
@import "./navigation.less";
@import "./form-input-label.less";
@import "./date-picker.less";
@import "./typography.less";
@import "./table.less";
@import "./button.less";


@menu-item-active-bg: unset;
@primary-color: #1aa2aa;
@btn-font-weight: 700;
@btn-border-radius-base: 4px;
@menu-item-active-border-width: 0;
@menu-highlight-color: @primary-color;
@control-border-radius: 4px;
@modal-border-radius: 10px;

@btn-default-color: #1aa2aa;
@btn-default-border: #1aa2aa;
@primary-color-hover: #5fbec3;
@table-selected-row-bg: #c6e8ea;
@table-bg: #fcfcfc;
@table-row-hover-bg: #fff;
@border-color-split: rgba(0, 0, 0, 0.15);
@border-width-base: 1.5px; // width of the border for a component
